{% load static %}
<div class="border-button ">
    <div class="border-button__top-bar-2">
        {%if name%}
        <a href="{% url 'home_page' name %}">
            <img src="{% static 'images/logo.png' %}" width="80px">
        </a>
        {% else %}
        <a href="{% url 'home_page' %}">
            <img src="{% static 'images/logo.png' %}" width="80px">
        </a>
        {%endif%}
        <a href="#" class="border-button__top-bar-2__loc">
            <img src="{% static 'images/i.webp' %}" width="45px" height="45px">
            <div class="border-button__top-bar-2__loc__loc-col-2">
                <a  class="loc-sel-tab">Select location</a>
                <a  class="border-button__top-bar-2__loc__loc-town">###</a>
            </div>
        </a>
        <div class="border-button__top-bar-2__buttons">
            {% if not request.user.is_authenticated %}
                <div class="button">
                    <img src="{% static 'images/reg_log.png' %}" width="25px" height="25px" >
                </div>
            {% endif %}

            {% if user.is_authenticated %}
                <div class="border-button__user-photo">
                    {%if request.user.photo%}
                        <img src="{{request.user.photo.url}}" width="45px" height="45px">
                    {% endif %}
                    {%if not request.user.photo%}
                        <img src="{% static 'images/user.png' %}" width="45px" height="45px">
                    {% endif %}
                </div>
                <div class="border-button__user-info">
                    <ul class="topmenu ">

                            <li><a href="{% url 'user_page_my_account' request.user.email %}"
                            class="down nav-top__refer2 border-button__user-name" style="color:black;">
                            <i class="top"></i>{{user.username}}</a>
                            <ul class="submenu" style="list-style:none;">
                                <li class="border-button__user-list" style="margin-top:5px;"><a href="{% url 'user_page_my_account' request.user.email %}" >My Account</a></li>
                                <li class="border-button__user-list"><a href="{% url 'available_promos' %}" >Promos</a></li>
                                <li class="border-button__user-list"><a href="{% url 'address' %}">My Address</a></li>
                                <li class="border-button__user-list"><a href="{% url 'terms_conditions_user' %}">Terms & Conditions</a></li>
                                <li class="border-button__user-list"><a href="{% url 'help_support' %}">Help & Support</a></li>
                                <li class="border-button__user-list"><a href="{% url 'ticket' %}">Help Ticket</a></li>
                                <li class="border-button__user-list" style="margin-bottom:5px;"><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>

            {% endif %}
            <a href="#">
                <div class="button">
                    <img src="{% static 'images/bell.png' %}" width="25px" height="25px">
                </div>
            </a>
            <a href="#" >
                <div class="button" >
                    <img src="{% static 'images/cart.png' %}" width="25px" height="25px">
                </div>
            </a>
        </div>
    </div>
</div>

