{% load static %}
<div class="border-button ">
    <div class="border-button__top-bar-2">
        {%if name%}
        <a href="{% url 'home_page' name %}">
            <img src="{% static 'images/logo.png' %}" width="80px">
        </a>
        {% else %}
        <a href="{% url 'home_page' %}">
            <img src="{% static 'images/logo.png' %}" width="80px">
        </a>
        {%endif%}
        <a href="#" class="border-button__top-bar-2__loc">
            <img src="{% static 'images/i.webp' %}" width="45px" height="45px">
            <div class="border-button__top-bar-2__loc__loc-col-2">
                <a  class="loc-sel-tab">Select location</a>
                <a  class="border-button__top-bar-2__loc__loc-town">###</a>
            </div>
        </a>
        <div class="border-button__top-bar-2__buttons">
            <div class="button">
                <img src="{% static 'images/reg_log.png' %}" width="25px" height="25px" >
            </div>
            {% if user.is_authenticated %}
                <div class="border-button__user-photo">
                    {%if request.user.photo%}
                        <img src="{{request.user.photo.url}}" width="45px" height="45px">
                    {% endif %}
                    {%if not request.user.photo%}
                        <img src="{% static 'images/user.png' %}" width="45px" height="45px">
                    {% endif %}
                </div>
                <div class="border-button__user-info">
                    <a href="{% url 'user_page_my_account' request.user.email %}" class="border-button__user-name">{{user.username}}</a>
                    <div class="border-button__user-name-acc"></div>
                </div>

            {% endif %}
            <a href="#">
                <div class="button">
                    <img src="{% static 'images/bell.png' %}" width="25px" height="25px">
                </div>
            </a>
            <a href="#" >
                <div class="button" >
                    <img src="{% static 'images/cart.png' %}" width="25px" height="25px">
                </div>
            </a>
        </div>
    </div>
</div>