{% load static %}

<div class="footer">
    <div class="footer-inner type1" >
        <a href="#" class="innerbutton" style="margin-left: auto;
  margin-right: 0; margin-top: 10px; margin-bottom: 10px;">
            <img src="{% static 'images/facebook.png' %}" width="20px" height="20px">
        </a>
        <a href="#" class="innerbutton" style="margin-left: 10px;
  margin-right: 0; margin-top: 10px; margin-bottom: 10px;">
            <img src="{% static 'images/twitter.png' %}" width="20px" height="20px">
        </a>
         <a href="#" class="innerbutton" style="margin-left: 10px;
  margin-right: 0; margin-top: 10px; margin-bottom: 10px;">
            <img src="{% static 'images/youtube.png' %}" width="20px" height="20px">
        </a>
        <a href="#" class="innerbutton" style="margin-left: 10px;
  margin-right: 0; margin-top: 10px; margin-bottom: 10px;">
            <img src="{% static 'images/instagram.png' %}" width="20px" height="20px">
        </a>
    </div>
    <div class="footer-inner">
        <div class="refer-column">
            <span class="type2">Products</span>
            <a href="#" class="innerref f2">Listing</a>
            <a href="#" class="innerref f1">Detail</a>
            <a href="#" class="innerref f1" >Trending</a>
            <a href="#" class="innerref f1" >Recommended</a>
            <a href="#" class="innerref f1" >Most Popular</a>
        </div>
        <div class="refer-column">
            <span class="type2">Checkout Process</span>
            <a href="#" class="innerref f2">Cart</a>
            <a href="#" class="innerref f1">Order Address</a>
            <a href="#" class="innerref f1">Delivery Time</a>
            <a href="#" class="innerref f1">Order Payment</a>
            <a href="#" class="innerref f1">Checkout</a>
            <a href="#" class="innerref f1">Successful</a>
        </div>
        <div class="refer-column">
            <span class="type2">My Order</span>
            <a href="#" class="innerref f2">My Order</a>
            <a href="#" class="innerref f1">Status Complete</a>
            <a href="#" class="innerref f1">Status Process</a>
            <a href="#" class="innerref f1">Status Canceled</a>
            <a href="#" class="innerref f1">Review</a>
        </div>
        <div class="refer-column">
            <span class="type2">My Account</span>
            <a href="#" class="innerref f2">My Account</a>
            <a href="#" class="innerref f1"> Promos</a>
            <a href="#" class="innerref f1">My Address</a>
            <a href="#" class="innerref f1">Terms &amp; Conditions</a>
            <a href="#" class="innerref f1">Help &amp; Support</a>
            <a href="#" class="innerref f1">Help Ticket</a>
            <a href="#" class="innerref f1">Log out</a>
        </div>
        <div class="refer-column">
            <span class="type2">Extra Pages</span>
            <a href="#" class="innerref f2">Promo Details</a>
            <a href="#" class="innerref f1">Conditions</a>
            <a href="#" class="innerref f1">Help Support</a>
            <a href="#" class="innerref f1">Refund Payment</a>
            <a href="#" class="innerref f1">FAQ</a>
            <a href="#" class="innerref f1">Sign In</a>
        </div>
    </div>
    <div class="footer-inner" >
        <a href="#" class="innerref" style="margin-right:20px; margin-top: 20px"><i class="autor"></i>2021 Vegishop</a>
        <a href="#" class="innerref" style="margin-right:20px; margin-top: 20px">Privacy</a>
        <a href="#" class="innerref" style="display:flex; margin-right:20px; margin-top: 20px">Terms &amp; Conditions</a>
        <a href="#" style="margin-left: auto;
  margin-right: 0; margin-top: 10px; margin-bottom: 5px"><img src="{% static 'images/appstore.png' %}" width="105px" height="35px"></a>
        <a href="#" style="display:flex; margin-left: 10px;
  margin-right: 0; margin-top: 10px; margin-bottom: 5px" ><img src="{% static 'images/playmarket.png' %}" width="105px" height="35px"></a>
    </div>
</div>