{% load static %}

<footer class=" footer ">
    <div class=" footer-inner type1 at" >
        <a href="#" class="innerbutton footer-image-2">
            <img src="{% static 'images/facebook.png' %}" width="20px" height="20px">
        </a>
        <a href="#" class="innerbutton footer-image" >
            <img src="{% static 'images/twitter.png' %}" width="20px" height="20px">
        </a>
        <a href="#" class="innerbutton footer-image">
            <img src="{% static 'images/youtube.png' %}" width="20px" height="20px">
        </a>
        <a href="#" class="innerbutton footer-image" >
            <img src="{% static 'images/instagram.png' %}" width="20px" height="20px">
        </a>
    </div>
    <div class=" footer-inner ">
        <div class="refer-column">
            <span class="refer-column__type2">Products</span>
            <a href="{% url 'categories_product_listing' %}" class=" footer-inner__innerref f2">Listing</a>
            <a href="{% url 'product_page' 1  %}" class=" footer-inner__innerref f1">Detail</a>
            <a href="#" class=" footer-inner__innerref f1" >Trending</a>
            <a href="#" class=" footer-inner__innerref f1" >Recommended</a>
            <a href="#" class=" footer-inner__innerref f1" >Most Popular</a>
        </div>
        <div class="refer-column">
            <span class="refer-column__type2">Checkout Process</span>
            <a href="#" class="footer-inner__innerref f2">Cart</a>
            <a href="#" class="footer-inner__innerref f1">Order Address</a>
            <a href="#" class="footer-inner__innerref f1">Delivery Time</a>
            <a href="#" class="footer-inner__innerref f1">Order Payment</a>
            <a href="#" class="footer-inner__innerref f1">Checkout</a>
            <a href="#" class="footer-inner__innerref f1">Successful</a>
        </div>
        <div class="refer-column">
            <span class="refer-column__type2">My Order</span>
            <a href="#" class="footer-inner__innerref f2">My Order</a>
            <a href="#" class="footer-inner__innerref f1">Status Complete</a>
            <a href="#" class="footer-inner__innerref f1">Status Process</a>
            <a href="#" class="footer-inner__innerref f1">Status Canceled</a>
            <a href="#" class="footer-inner__innerref f1">Review</a>
        </div>
        <div class="refer-column">
            <span class="refer-column__type2">My Account</span>
            {% if user.is_authenticated %}
                <a href="{% url 'user_page_my_account' request.user.email %}" class="footer-inner__innerref f2">My Account</a>
                <a href="{% url 'available_promos' %}" class="footer-inner__innerref f1"> Promos</a>
                <a href="{% url 'address' %}" class="footer-inner__innerref f1">My Address</a>
                <a href="{% url 'terms_conditions' %}" class="footer-inner__innerref f1">Terms &amp; Conditions</a>
                <a href="{% url 'help_support' %}" class="footer-inner__innerref f1">Help &amp; Support</a>
                <a href="{% url 'ticket' %}" class="footer-inner__innerref f1">Help Ticket</a>
                <a href="{%url 'logout'%}" class="footer-inner__innerref f1">Log out</a>
            {% else %}
                <a href="{% url 'home_page'  %}" class="footer-inner__innerref f2">My Account</a>
                <a href="{% url 'all_promo_categories' %}" class="footer-inner__innerref f1"> Promos</a>
                <a href="{% url 'address' %}" class="footer-inner__innerref f1">My Address</a>
                <a href="{% url 'terms_conditions_not_log_in' %}" class="footer-inner__innerref f1">Terms &amp; Conditions</a>
                <a href="{% url 'help_support_not_log_in' %}" class="footer-inner__innerref f1">Help &amp; Support</a>
                <a href="{% url 'ticket_not_log_in' %}" class="footer-inner__innerref f1">Help Ticket</a>
                <a href="{%url 'logout'%}" class="footer-inner__innerref f1">Log out</a>
            {% endif %}

        </div>
        <div class="refer-column">
            <span class="refer-column__type2">Extra Pages</span>
            {% if request.user.is_authenticated %}
                <a href="{% url 'promos_category_page' 1 %}" class="footer-inner__innerref f2">Promo Details</a>
                <a href="{% url 'terms_conditions' %}" class="footer-inner__innerref f1">Conditions</a>
                <a href="{% url 'help_support' %}" class="footer-inner__innerref f1">Help Support</a>
                <a href="{% url 'refunding_payment_not_log_in' %}" class="footer-inner__innerref f1">Refund Payment</a>
                <a href="{% url 'faq' %}" class="footer-inner__innerref f1">FAQ</a>
                <a href="{% url 'sign_in_page' %}" class="footer-inner__innerref f1">Sign In</a>
            {% else %}
                <a href="{% url 'promos_category_page' 1 %}" class="footer-inner__innerref f2">Promo Details</a>
                <a href="{% url 'terms_conditions_not_log_in' %}" class="footer-inner__innerref f1">Conditions</a>
                <a href="{% url 'help_support_not_log_in' %}" class="footer-inner__innerref f1">Help Support</a>
                <a href="{% url 'refunding_payment_not_log_in' %}" class="footer-inner__innerref f1">Refund Payment</a>
                <a href="{% url 'faq_not_log_in' %}" class="footer-inner__innerref f1">FAQ</a>
                <a href="{% url 'sign_in_page' %}" class="footer-inner__innerref f1">Sign In</a>
            {% endif %}

        </div>
    </div>
    <div class="footer-inner" >
        <a href="{% url 'home_page' %}" class="footer-inner__innerref footer-label"><i class="autor"></i>2021 Vegishop</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'privacy' %}" class="footer-inner__innerref footer-label">Privacy</a>
            <a href="{% url 'terms_conditions' %}" class="footer-inner__innerref footer-label" >Terms &amp; Conditions</a>
        {% else %}
            <a href="{% url 'privacy_not_log_in' %}" class="footer-inner__innerref footer-label">Privacy</a>
            <a href="{% url 'terms_conditions_not_log_in' %}" class="footer-inner__innerref footer-label" >Terms &amp; Conditions</a>
        {% endif %}
        <a href="#" class="footer-label-2"><img src="{% static 'images/appstore.png' %}" width="105px" height="35px"></a>
        <a href="#" class="footer-label-3"><img src="{% static 'images/playmarket.png' %}" width="105px" height="35px"></a>
    </div>
</footer>