<div class="nav-top">
    <a href="#" class="nav-top__refer2" >Home</a>
    <a href="#" class="nav-top__refer2"><i class="top"></i>Products</a>
    <a href="#" class="nav-top__refer2"><i class="top"></i>Checkout Process</a>
    <a href="#" class="nav-top__refer2"><i class="top"></i>My Order</a>
    <a href="#" class="nav-top__refer2"><i class="top"></i>Extra Pages</a>
    <a href="#" class="nav-top__refer2 tr">Trending</a>
    <a href="#" class="nav-top__refer2 pr"><i class="top2"></i>Promos</a>
</div>