<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="l-top">
                    <a href="#" class = "refer"><i class="icofont-checked" style="font-style: normal;"></i> Accurate Weight </a>
                    <a href="#" class = "refer"><i class="icofont-checked" style="font-style: normal;"></i> Fresh &amp; Fast </a>
                    <a href="#" class = "refer"><i class="icofont-checked" style="font-style: normal;"></i> Sorted Vegetables </a>
                    <a href="#" style="margin-left: auto; margin-top: 2px; margin-right: 10px;" class = "refer"><i class="icofont-headphone-alt"></i> Helpline : 910-313-1728</a>
                </ul>
            </div>
        </div>
    </div>
</div>