{% extends 'base.html' %}
{% load static %}
{% load quantity %}
{% block title %}
Vegishop
{% endblock %}
{% block content %}
<h1>Корзина покупок</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Картинка</th>
        <th>Товар</th>
        <th>Обновить кол-во</th>
        <th>Удалить</th>
        <th>Кол-во</th>
        <th>Цена за шт</th>
        <th>Общая стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {%with product=item.product%}
          <tr>
            <td>
              <a href="{% url 'product_page' product.id '}">
                {% if product.photo %}
                                <img src="{% if product.photo %}">

                {%else %}
                                <img src="{% static 'img/phone.png' %}">

                {% endif %}
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
              <form action="{% url 'cart:cart_add' product.id %}" method="post">
                  {% csrf_token %}
<!--                {{ item.update_quantity_form.quantity }}-->
<!--                {{ item.update_quantity_form.update }}-->


            <div class="amount">
	            <span class="minus">-</span>
                <input type="text" value="{%quantity request product %}" name="count_products"/>
                <text>{{product.id}}</text>
	            <span class="plus">+</span>
            </div>



                <input type="submit" value="Обновить">

              </form>
            </td>
            <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${% total_price request product %}</td>
          </tr>
       {% endif %}
      {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всего</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'home_page' %}" class="button light">В магазин</a>
    <a href="#" class="button">Оформить заказ</a>
  </p>
<script>
$(document).ready(function() {
		$('.minus').click(function () {
			var $input = $(this).parent().find('input');
			var count = parseInt($input.val()) - 1;
			count = count < 1 ? 0 : count;
			$input.val(count);
			$input.change();
			return false;
		});
		$('.plus').click(function () {
			var $input = $(this).parent().find('input');
			$input.val(parseInt($input.val()) + 1);
			$input.change();
			return false;
		});
	});

</script>

{% endblock %}
