{% extends 'base.html' %}
{% load static %}

{% block title %}
Vegishop
{% endblock %}
{% block content %}

<div class="activate_deactivated_account">
    <div class="activate_deactivated_account__margin">
        <h1>Activate Deactivated Account</h1>
        <form method="post" name="f1" class="activate_deactivated_account__form-display">
            {%csrf_token%}
            <label>Enter email you want to activate:</label>
            {{activate_account_form.email}}
            <label>Enter Theme:</label>
            {{activate_account_form.subject}}
            <label>Enter Message:</label>
            {{activate_account_form.message}}
            <button type="submit" class="user_change_button">Activate Account</button>
        </form>
    </div>
</div>

{% endblock %}






