{% extends 'base.html' %}
{% load static %}

{% block title %}
Vegishop
{% endblock %}
{% block content %}
<div style="width:100%;
            height:40px;
            background:#DDDDDD;">
    <div style="width:74%; background: transparent; margin-left:auto; margin-right:auto; ">
        <div style="display:flex; flex-direction:row; position:relative; top:10px;">
            <text style="color:red">Home</text>
            <text style="color:grey; margin-left:10px; margin-right:10px;">/</text>
            <text style="color:grey">{{extra_bar}}</text>
        </div>
    </div>

</div>
<div class="activate_deactivated_account">
    <div class="activate_deactivated_account__margin">
        <h1>Activate Deactivated Account</h1>
        <form method="post" name="f1" class="activate_deactivated_account__form-display">
            {%csrf_token%}
            <label>Enter email you want to activate:</label>
            {{activate_account_form.email}}
            <label>Enter Theme:</label>
            {{activate_account_form.subject}}
            <label>Enter Message:</label>
            {{activate_account_form.message}}
            <button type="submit" class="user_change_button">Activate Account</button>
    </form>
    </div>
</div>

{% endblock %}






