{% extends 'base.html' %}
{% load static %}

{% block title %}
Vegishop
{% endblock %}
{% block content %}

<div class="activate_deactivated_account">
    <div class="activate_deactivated_account__margin">
        <h1>Password reset complete</h1>
        <label>Your password has been set. You may go ahead and log in now.</label>
        <a href="{% url 'home_page' %}" style="text-decoration:none; border:none; border-radius:4px;color:white;
        font-size:110%; font-weight:600;
background: linear-gradient(45deg, #FF4500 60%, orange); height:40px; width:90px; margin-top:10px;
margin-bottom:10px;text-align:center;
    align-items: center;
    justify-content: center;
    text-align: center;">
            <div style="position:relative; top:10px;">Log in</div>
        </a>
    </div>
</div>
{% endblock %}