{% extends 'base.html' %}
{% load static %}

{% block title %}
Vegishop
{% endblock %}
{% block content %}
<div class="activate_deactivated_account">
    <div class="activate_deactivated_account__margin">
        <h1 style="margin-left:10px;">Reset Password:</h1>
        <form method="post" name="f1" class="change_user_form">
            {%csrf_token%}
            <label >New Password:</label><br>
            <input type="password" name="new_password1" class="user_change_special" placeholder="New Password"
                   onfocus="this.className='user_change_focus'" onblur="this.className='user_change_text'">
            <label >Confirm New Password:</label><br>
            <input type="password" name="new_password2" class="user_change_special" placeholder="Confirm New Password"
                   onfocus="this.className='user_change_focus'" onblur="this.className='user_change_text'">
            <button type="submit" class="user_change_button">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}
