{% extends 'base.html' %}
{% load static %}

{% block title %}
Vegishop
{% endblock %}
{% block content %}

<div class="activate_deactivated_account">
    <div class="activate_deactivated_account__margin">
        <h1>Forgot Password?</h1>
        <form method="post" name="f1" class="activate_deactivated_account__form-display">
            {%csrf_token%}
            <label>Email you want to reset password:</label>
            {{form.to_email}}
            <button type="submit" class="user_change_button">Send Message</button>
    </form>
    </div>
</div>

{% endblock %}
