{% extends 'User/user_page_my_account.html' %}
{% load static %}

{% block form_change %}
<h1 style="margin-left:15px;">Change Password</h1>
<form method="post" name="f1" class="change_user_form">
    {%csrf_token%}
    <label>Old Password:</label>
    {{change_password_form.old_password}}
    <label>New Password:</label>
    {{change_password_form.new_password}}
    <label>New Password Confirm:</label>
    {{change_password_form.new_password2}}

    <button type="submit" class="user_change_button">Save Changes</button>
</form>
{% endblock %}
