{% extends 'base.html' %}
{% load static %}
{%load promocodes%}

{% block content %}

<form method="post">

    <input type="radio" name="r1" value="10" onClick="document.getElementById('hidfield').value=this.value"/>10
    <br/>
    <input type="radio" name="r1" value="45" onClick="document.getElementById('hidfield').value=this.value"/>
    45
    <br/>
    <input type="hidden" name="sum" value="1" id="hidfield" />
    <button type="submit">Send</button>
  <fieldset id="group1">
    <input type="radio" value="value1" name="group1">
    <input type="radio" value="value2" name="group1">
  </fieldset>
  <fieldset id="group2">
    <input type="radio" value="value1" name="group2">
    <input type="radio" value="value2" name="group2">
    <input type="radio" value="value3" name="group2">
  </fieldset>
</form>
<h2 class="category_product_listing-title">{{category}}</h2>
{% include "inc/products_view.html" %}
{% endblock%}