{% extends 'base.html' %}
{% load static %}
{%load promocodes%}
{%load products_number %}

{% block content %}
{% for category in categories %}
<h2 class="category_product_listing__category-name">{{category}}</h2>
<div class="products_view">
    {% for product in category.product_category.all|products_number %}
    <div class="products_view__product_card">
        {% include 'inc/promo_color.html' %}
        <a href="{% url 'product_page' product.pk %}" class="view_cards_refer refer_product_page-1">
            <img src="{{product.photo.url}}" width="180px" height="150px">
        </a>
        <a href="{% url 'product_page' product.pk %}" class="view_cards_refer">
            <text class="refer_product_page-2">{{product.name}}</text>
        </a>
        <a href="{% url 'product_page' product.pk %}" class="view_cards_refer">
            <text class="refer_product_page-3">{{product.price}}$/kg</text>
        </a>
    </div>
    {% endfor %}
</div>
<div class="category_product_listing_button">
    <a href="{% url 'category_product_listing' category.pk%}" class="category_product_listing_button__refer">
        <button class="from_home_page_refer category_product_listing_button__refer__button">See more</button>
    </a>
</div>
{% endfor %}
{% endblock %}