{% extends 'base.html' %}
{% load static %}
{%load promocodes%}
{%load quantity%}
{%load product_number_in_category%}

{% block content %}
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length%}
        {% if cart|length > 0%}
        In Cart:
       <a href="{% url 'cart:cart_detail' %}">
        {{total_items}}, ${{cart.get_total_price}}
           </a>
        else:
        Empty Cart
        {% endif %}
        {% endwith %}
    </div>
</div>
<div class="product_page__product_card">
    <div class="product_page__product_card__widgets">
        <div class="product_page__product_card__photo">
            <img src="{{product.photo.url}}" width="400px" height="320px" style="margin:auto">
        </div>
        <div class="product_page__product_card__photo__buttons">
            <button class="product_page__product_card__photo__buttons__cart">
                <div style="margin-top:auto; margin-bottom:auto;margin-left:auto;">
                    <i class="product_page__product_card__photo__buttons__cart__content"></i>
                </div>
                <div style="margin-top:auto; margin-bottom:auto;margin-right:auto;">
                    <i style="font-style:normal; font-size: 120%; ">Add to Cart</i>
                </div>
            </button>
            <button class="product_page__product_card__photo__buttons__buy">
                <i class="fa fa-cart-plus" aria-hidden="true" style="margin-right:5px;"></i>Buy Now
            </button>
        </div>
    </div>
    <div class="product_page__product_card__information">
        <div class="product_page__product_card__information_2">
            <h2>{{product.name}}</h2>
            <div class="product_page__product_card__information_2__price" style="align-items: center;">
                <text style="color:grey; font-size:100%;">Product MRP:</text>
                <text style="font-weight:600; font-size:110%; margin-left: 1px;">$ {{product.price}}</text>
                {% if product.promo_code %}
                {%if product.promo_code.sailing_percent|promo_color:5%}
                <div class="product_view_promo" style="position:relative; background: rgb(255 96 0 / 15%);
                        margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: red; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%elif product.promo_code.sailing_percent|promo_color:10%}
                <div class="product_view_promo" style="position:relative; background: rgb(40 167 69 / 15%);
                         margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: #fbbf3b; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%elif product.promo_code.sailing_percent|promo_color:20%}
                <div class="product_view_promo" style="position:relative; background:rgb(255 193 7 / 15%);
                        margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: #eab002; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%elif product.promo_code.sailing_percent|promo_color:50%}
                <div class="product_view_promo"
                     style="position:relative; background:brown;  margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: purple; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%elif product.promo_code.sailing_percent|promo_color:100%}
                <div class="product_view_promo"
                     style="position:relative; background:#cc99ff;  margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: purple; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%endif%}
                {%endif%}
            </div>
            <div class="product_page__product_card__information_2__delivery_kg">
                <div class="product_page__product_card__information_2__delivery">
                    <text style="font-weight:600;">Delivery:</text>
                    <text style="color:grey; margin-top:5px;">{{product.delivery}}</text>
                </div>
                <div class="product_page__product_card__information_2__kg">
                    <text style="font-weight:600;">Available in:</text>
                    <text style="color:grey; margin-top:5px;">1kg, 2kg, 5kg</text>
                </div>
            </div>
            <p style="font-weight:600; margin-bottom: 10px;">Product Details:</p>
            <text style="margin-top:0px; color:grey;">{{product.product_details}}</text>
        </div>
        <form action = "{% url 'cart:cart_add' product.id %}" method="post">
            {{cart_product_form}}
            {% csrf_token %}
            <div class="amount">
	<span class="down">-</span>
    <input type="text" value="{%quantity request product %}" name="count_products"/>
	<span class="up">+</span>
</div>
<!--        <button id="plus">+</button>-->
<!--<span id="number">0</span>-->
<!--<button id="minus">-</button>-->

<!--<script src="jquery.js"></script>-->

<script>

$(document).ready(function() {
		$('.down').click(function () {
			var $input = $(this).parent().find('input');
			var count = parseInt($input.val()) - 1;
			count = count < 1 ? 1 : count;
			$input.val(count);
			$input.change();
			return false;
		});
		$('.up').click(function () {
			var $input = $(this).parent().find('input');
			$input.val(parseInt($input.val()) + 1);
			$input.change();
			return false;
		});
	});

</script>
            <input type="submit" value="In Cart">
        </form>
        <a href="{% url 'like' product.id 'product_page'%}"><i class="fa fa-heart-o" aria-hidden="true">{{product.like_amount}}</i></a>
        <a href="{% url 'bookmarks' product.id 'product_page'%}"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
        <text>{{product.views_amount}}</text>
        <a href="{% url 'comments' product.id%}"><i class="fa fa-comment-o" aria-hidden="true"></i></i>{{product.books_amount}}</a>
        {{product.rating}}
        Popular: {{product.popular}}
<!--        <script type="text/javascript">-->

<!--var count = 0;-->

<!--$("#update").click(function() {-->
<!--    count++;-->
<!--    $("#counter").html("My current count is: "+count);-->
<!--}-->

<!--</script>-->
<!--<button id="update" type="button">Button</button>-->
<!--<div id="counter">1</div>-->
<!--        <div class="amount">-->
<!--	<span class="down">-</span>-->
<!--    <input type="text" value="1" name="count_products"/>-->
<!--	<span class="up">+</span>-->
<!--</div>-->
<!--        <button id="plus">+</button>-->
<!--<span id="number">0</span>-->
<!--<button id="minus">-</button>-->

<!--<script src="jquery.js"></script>-->

<script>
/*
$("#plus").on('click', function() {
   $("#number").html(parseInt($('#number').html(), 10)+1);
});
$("#minus").on('click', function() {
   $("#number").html(parseInt($('#number').html(), 10)-1)
});
*/
/*
$(document).ready(function() {
		$('.down').click(function () {
			var $input = $(this).parent().find('input');
			var count = parseInt($input.val()) - 1;
			count = count < 1 ? 1 : count;
			$input.val(count);
			$input.change();
			return false;
		});
		$('.up').click(function () {
			var $input = $(this).parent().find('input');
			$input.val(parseInt($input.val()) + 1);
			$input.change();
			return false;
		});
	});
*/
</script>
<!--        <button onclick="clicked(-1)">Previous</button>-->
<!--<span id="test" name="products_in_cart">0</span>-->
<!--<button onclick="clicked(1)">next</button>-->
<!--<script type="text/javascript">-->
<!--var i = 0;-->
<!--function clicked(n) {-->
<!--    var img = document.getElementsByTagName("img");-->
<!--    var test = document.getElementById("test");-->
<!--    i = i + n;-->
<!--    test.innerHTML = i;-->
<!--};-->
<!--window.onclick;-->
<!--</script>-->
    </div>
</div>

{%if category.product_category.all|products_number_in_category %}
<h1 style="margin-left:200px; margin-bottom:5px; margin-top:35px;">Maybe You Like this.</h1>
{% endif %}
{% include 'inc/products_view.html' %}
{% endblock %}