{% extends 'base.html' %}
{% load static %}
{%load promocodes%}
{%load product_number_in_category%}

{% block content %}
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length%}
        {% if cart|length > 0%}
        In Cart:
       <a href="{% url 'cart:cart_detail' %}">
        {{total_items}}, ${{cart.get_total_price}}
           </a>
        else:
        Empty Cart
        {% endif %}
        {% endwith %}
    </div>
</div>
<div class="product_page__product_card">
    <div class="product_page__product_card__widgets">
        <div class="product_page__product_card__photo">
            <img src="{{product.photo.url}}" width="400px" height="320px" style="margin:auto">
        </div>
        <div class="product_page__product_card__photo__buttons">
            <button class="product_page__product_card__photo__buttons__cart">
                <div style="margin-top:auto; margin-bottom:auto;margin-left:auto;">
                    <i class="product_page__product_card__photo__buttons__cart__content"></i>
                </div>
                <div style="margin-top:auto; margin-bottom:auto;margin-right:auto;">
                    <i style="font-style:normal; font-size: 120%; ">Add to Cart</i>
                </div>
            </button>
            <button class="product_page__product_card__photo__buttons__buy">
                <i class="fa fa-cart-plus" aria-hidden="true" style="margin-right:5px;"></i>Buy Now
            </button>
        </div>
    </div>
    <div class="product_page__product_card__information">
        <div class="product_page__product_card__information_2">
            <h2>{{product.name}}</h2>
            <div class="product_page__product_card__information_2__price" style="align-items: center;">
                <text style="color:grey; font-size:100%;">Product MRP:</text>
                <text style="font-weight:600; font-size:110%; margin-left: 1px;">$ {{product.price}}</text>
                {% if product.promo_code %}
                {%if product.promo_code.sailing_percent|promo_color:5%}
                <div class="product_view_promo" style="position:relative; background: rgb(255 96 0 / 15%);
                        margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: red; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%elif product.promo_code.sailing_percent|promo_color:10%}
                <div class="product_view_promo" style="position:relative; background: rgb(40 167 69 / 15%);
                         margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: #fbbf3b; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%elif product.promo_code.sailing_percent|promo_color:20%}
                <div class="product_view_promo" style="position:relative; background:rgb(255 193 7 / 15%);
                        margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: #eab002; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%elif product.promo_code.sailing_percent|promo_color:50%}
                <div class="product_view_promo"
                     style="position:relative; background:brown;  margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: purple; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%elif product.promo_code.sailing_percent|promo_color:100%}
                <div class="product_view_promo"
                     style="position:relative; background:#cc99ff;  margin-left:10px; top:-5px; width:80px;">
                    <a href="#" class="product_view_refer_promo" style="color: purple; ">
                        {{product.promo_code.sailing_percent}} % OFF</a>
                </div>
                {%endif%}
                {%endif%}
            </div>
            <div class="product_page__product_card__information_2__delivery_kg">
                <div class="product_page__product_card__information_2__delivery">
                    <text style="font-weight:600;">Delivery:</text>
                    <text style="color:grey; margin-top:5px;">{{product.delivery}}</text>
                </div>
                <div class="product_page__product_card__information_2__kg">
                    <text style="font-weight:600;">Available in:</text>
                    <text style="color:grey; margin-top:5px;">1kg, 2kg, 5kg</text>
                </div>
            </div>
            <p style="font-weight:600; margin-bottom: 10px;">Product Details:</p>
            <text style="margin-top:0px; color:grey;">{{product.product_details}}</text>
        </div>
        <form action = "{% url 'cart:cart_add' product.id %}" method="post">
            {{cart_product_form}}
            {% csrf_token %}
            <input type="submit" value="In Cart">
        </form>
        <a href="{% url 'like' product.id 'product_page'%}"><i class="fa fa-heart-o" aria-hidden="true">{{product.like_amount}}</i></a>
        <a href="{% url 'bookmarks' product.id 'product_page'%}"><i class="fa fa-bookmark" aria-hidden="true"></i></a>
        <text>{{product.views_amount}}</text>
        <a href="{% url 'comments' product.id%}"><i class="fa fa-comment-o" aria-hidden="true"></i></i>{{product.books_amount}}</a>
        {{product.rating}}
        Popular: {{product.popular}}
    </div>
</div>
{%if category.product_category.all|products_number_in_category %}
<h1 style="margin-left:200px; margin-bottom:5px; margin-top:35px;">Maybe You Like this.</h1>
{% endif %}
{% include 'inc/products_view.html' %}
{% endblock %}