.close-menu-filter-sort{
    margin-left:auto;
    width:30px;
    height:30px;
    background:transparent;
    border: none;
    margin-top: 20px;
}

.close-menu-filter-sort:hover{
    background:#DDDDDD;
    border-radius: 4px;
}

.sort_filter__submit{
    width: 100%;
    height: 50px;
    border: none;
    color:white;
    font-size:120%;
    font-weight: 600;
    background: linear-gradient(45deg, #FF4500 60%, orange);
}

.filter_sort_radio{
    padding-left:auto;
    padding-right: 15px;
}

