.border-button{
    margin:0;
    border:0;

}

.border-button__top-bar-2{
    display:flex;
    flex-direction: row;
    padding-top: 9px;
    padding-bottom: 9px
    padding-right:13%;
    padding-left:13%;
}
.border-button__top-bar-2__loc{
    margin-top: 10px; margin-left: 20px; display: flex; flex-direction: row;
}

.border-button__top-bar-2__loc__loc-col-2{
display: flex; flex-direction: column; margin-top: 10px; margin-left: 10px;
}

.border-button__top-bar-2__loc__loc-sel-tab{
font-size: 90%; color: grey;
}

.border-button__top-bar-2__loc__loc-town{
font-size: 110%
}

.button{
  margin:8px;
  width: 30px;
  height: 30px;
  background: #DDDDDD;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
  display:flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* и вертикали */
  overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */
  tansition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  padding: 5px;
}
.button:not(:hover){
	color: #fff;
    background-color: #DDDDDD;
}
.button:hover {
	color: #fff;
	background: #888;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
  }
.button:active{
	color: #DDDDDD;
  }

.border-button__top-bar-2__buttons{
    margin-left: auto;
    margin-right: 14%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
}

.border-button__user-photo{
  margin-top: auto;
  margin-bottom: auto;
  margin-right:5px;
  margin-left:8px;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.border-button__user-name{
  margin-top: auto;
  margin-bottom: auto;
  margin-right:0px;
  margin-left:2px;
  color: black;
  text-decoration:none;
  padding:2px;
}

.border-button__user-info{
    display:flex;
    flex-direction: row;
    height:auto;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:0px;
    margin-right: 7px;
}
.border-button__user-name-acc{
    height:15px;
    margin-bottom:auto;
    margin-left:0px;
}
.border-button__user-name-acc::before{
    content:"\25BC";
    color: black;
    font-size: 50%;
}