.nav-top{
    background: linear-gradient(45deg, #FF4500 60%, orange);
    display: flex;
    flex-direction: row;
    height: 35px;
    padding-right:13%;
    padding-left:13%;
    display: flex;
    align-items: center;
}

.nav-top__refer2{
    position : relative;
    text-decoration: none;
    color: white;
    margin: 0;
    padding-right:10px;
}
.top:after{
    font-style: normal;
    box-sizing: border-box;
    content: "\25BE";
    padding-left: 15px;
}

.top2:after{
    font-style: normal;
    box-sizing: border-box;
    content: "\0025";
    width: 20px;
    height: 20px;
    background: #FF4500;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
    margin:2px;
    padding-left: 2px;
    display:flex;
    align-items: center;
}

.tr{
    margin-left: auto;
    margin-top: 2px;
    margin-right: 5px;
}

.pr{
    display:flex;
    flex-direction: row;
    background: #FF4500;
    width:70px;
    height:14px;
    margin-left: 10px;
    margin-top: 0px;
    margin-right: -10px;
    align-items: center;
    text-align:center;
    padding:10px;
    margin-left:10px;
}


