.border-buttom{
position: relative;
    display:flex;
    flex-direction: row;
    margin:0;
    border:0;
    padding-top: 9px;
    padding-bottom: 9px
    padding-right:200px;
    padding-left:200px;
}

.button{
  margin: 45px;
  width: 45px;
  height: 45px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
  margin:10px;
  display:flex;
  justify-content: center; /*центрируем элемент по горизонтали */
  align-items: center; /* и вертикали */
  overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */

}
