.menu_mobile {
  position: fixed;
  display: block;
  width: 25%;
  height: 800px;
  right: -100%;
  top: 0;
  background: white;
  border: 1 px solid gray;
  transition: right 1s 0s;
  z-index: 150;
}

.dropdown-scrollbar
{
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;

}
.dropdown-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.dropdown-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.dropdown-scrollbar::-webkit-scrollbar-thumb {
  background-color: #A1A1A1;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
}

.menu_mobile.active{
  right: 0;
  transition: right 1s linear 0s;

}

.close-menu-cross::after{
    font-style: normal;
    content: "\2715";
    font-weight: 600;
    font-size: 135%;
}
.close-menu {
  border: 0;
  border-radius: 0;
  background: white;
  height: 70px;
  width:14%;
  color: grey;
}

.close-menu:hover{
    border-bottom: 2px solid green;
    color: green;
}

.close-menu:hover{
    border-bottom: 2px solid green;
    color: green;
}

.close-menu-active {

}
.gray{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background: rgba(1, 1, 1, 0.75);;
  border: 1 px solid gray;
  transition: right 0s .25s;//2ой параметр (через сколько начнет исчезать фон после нажатия на кнопку закрытия окна)
  //1ый параметр(сколько по времени будет счезать фон)
  z-index:auto;

}

.gray.active {
    right: 0;
    z-index:149;
    transition: right 0s linear 0s;//2ой параметр (через сколько начнет появляться фон после нажатия на кнопку запуска окна)
    //1ый параметр(сколько по времени будет появляться фон)

}

.close-gray-active{
  transition: right 0s linear 0s;

}/*
.form{
        width: 280px;
        margin:-15px auto 20px auto; text-align: center;
}
*/

.reg-form{
    position: relative;
    display: flex;
    flex-direction: column;
    right: -100%;
    margin-left: 30px;

    /*width: 280px;
    margin:-15px auto 20px auto;*/

}

.reg-form.active{
    right: 0;
    height:1200px;
    transition: right 0s linear 0s;
}

.reg-form.active .menu_mobile__reg-auth__reg{
    color: green; border-bottom: 2px solid green;
}

.reg-form > p{
    display: flex;
    flex-direction: column;
    text-align: left;

}
/*
.reg-form > input{
    height: 30px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 4px;
}
*/
.auth-form{
    position:relative;
    display: flex;
    flex-direction: column;
    right: -100%;
    margin-left:30px;
    top: -620px;
    /*margin:20px auto 20px auto;*/
}
.pb{

    top: -200px;
}
.auth-form.active{
    right: 0;
    height:1000px;
    transition: right 0s linear 0s;
}

.special{
   height: 30px;
    width: 95%;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom:5px;
}

.auth-form > input: focus{
    border: 1px solid orange;
}
.focus {
    outline: none;
    border: 1px solid orange; /* Рамка при получении фокуса */
    height: 30px;
    width: 95%;
    border-radius: 4px;
    margin-bottom:5px;
}

.text {
    border: 1px solid black;
    height: 30px;
    width: 95%;
    border-radius: 4px;
    margin-bottom:5px;
   }

.menu_mobile__reg-auth{
    display: flex;
    flex-direction: row;
    /*height: auto;*/
    width: 100%;
    border-bottom: 1px solid #f0f2f5;
}

.menu_mobile__reg-auth__reg{
  border: 0;
  border-radius: 0;
  background: white;
  height: 70px;
  width:44%;
  font-weight: 600;
  color: grey;
}
.menu_mobile__reg-auth__reg.green{
  border-bottom: 2px solid green;
  color: green;
}
.menu_mobile__reg-auth__reg:hover{
    border-bottom: 2px solid green;
    color: green;
}

.menu_mobile__reg-auth__auth{
  border: 0;
  border-radius: 0;
  background: white;
  height: 70px;
  width:44%;
  font-weight: 600;
  color: grey;
}

.menu_mobile__reg-auth__auth.green{
    border-bottom: 2px solid green;
    color: green;
}

.reg-auth-button{
  border: 0;
  border-radius: 4px;
  background: linear-gradient(45deg, #FF4500 50%, orange);
  height: 50px;
  width: 300px;
  color: white;
  margin-top: 20px;
  font-weight:300;
  font-size:100%;
  margin-bottom:10px;
  text-align: center;
}

.reg-auth-apple-store{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 4px;
  background: black;
  height: 50px;
  width: 300px;
  color: white;
  margin-top: 20px;
  font-weight:300;
  font-size:100%;
  margin-bottom:10px;
  text-align: center;
}

.reg-auth-google-plus:hover{
    background: #AAAAAA;
}

.reg-auth-google-plus{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 4px;
  background: #f0f2f5;
  height: 50px;
  width: 300px;
  color: black;
  margin-top: 10px;
  font-weight:300;
  font-size:100%;
  margin-bottom:10px;
  text-align: center;
}

.menu_mobile__help-close-2{
    position: relative;
    display: flex;
    flex-direction: row;
    bolder: 10 px solid black;
    height:auto;

}

.menu_mobile__help-close{
    position: relative;
    display: flex;
    flex-direction: row;
    bolder: 10 px solid black;
    height:auto;
}

.menu_mobile__help-close__close{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:60px;
    text-align: center;
    font-weight:500;
    font-size:110%;
    text-decoration: none;
    color:black;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.menu_mobile__help-close__close-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:60px;
    text-align: center;
    font-weight:500;
    font-size:110%;
    text-decoration: none;
    color:black;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
}

.menu_mobile__help-close__help{

    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:60px;
    text-align: center;
    font-weight:500;
    font-size:110%;
    text-decoration: none;
    color:black;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.reg-auth-ref{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color:black;
    margin-bottom:15px;
}

.form__activate-account{
    margin-right:auto;
    text-decoration:none;
    color:black;
    margin-bottom:30px;
    height:30px; width: 85%;
    background: white;
    border:1px solid black;
    border-radius:4px;
    text-align:center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form__activate-account:hover{
    background:#DDDDDD;
}

