{% extends 'base.html' %}
{% load static %}
{% load promo_category_photo %}

{% block title %}
Vegishop
{% endblock %}
{% block content %}

<div class="all_promo_categories">
    <div style="padding-top:10px; padding-bottom:10px;padding-left:20px;">
        {% for category in categories %}
        <div class="promos_categories_list" style="height: 200px;">
            <div style="display:flex; flex-direction:row;">
                <div style="display:flex; flex-direction:column;">
                    <div style="display:flex; flex-direction:row; padding-top:10px; margin-left:15px;">
                        <img src="{% static 'images/logo.png' %}" width="70px" height="50px">
                        <h2 style="color:white;margin-top:auto; margin-bottom:auto; margin-left:15px;">Grocery</h2>
                    </div>
                    <a href="{% url 'promo_page' category|get_promo_id_from_category category|get_product_id_from_category %}"
                       class="promos_categories_list__name">
                        <text>{{category|promo_category_name}} - {{category.name}}</text>
                    </a>
                    <div style="margin-left:15px; margin-top:30px;">
                        <a href="{% url 'promos_category_page' category.id %}">
                            <button class="promos_categories_list__button">
                                <i class="fa fa-smile-o" aria-hidden="true" style="margin-right:5px;"></i>CHECK NOW
                            </button>
                        </a>
                    </div>
                </div>
                <img src="{{category|promo_category_photo}}" width="150px" height="140px"
                     class="promos_categories_list__photo">
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}