{% extends 'base.html' %}
{% load static %}
{% load promo_page_photo %}
{% load promocodes %}
{% block title %}
Vegishop
{% endblock %}
{% block content %}

<div class="promo_page-main-div">
    <div class="promo_page__div_photo_container" style="text-align:center;
    align-items: center;
    justify-content: center;
    text-align: center;">
        <div class="promo_page__div_photo_container__promo-photo" style="text-align:center;
    align-items: center;
    justify-content: center;
    text-align: center;">
            <img src="{{product.photo.url}}" width="170px" height="160px"
                 style="position:relative; margin:auto; top:20px; margin-bottom: 10px;">
        </div>
        <img src="{% static 'images/logo.png' %}" width="50px" height="40px" style="margin-top:10px;">
        <text style="color:white; font-size:135%; font-weight: 600; margin-bottom: 10px; margin-top:10px;">Grocery
        </text>
        <div class="promo_page__div_photo_container__osahan">
            <text class="osahan__text"><i class="fa fa-money" aria-hidden="true" style="margin-right:5px;"></i>OSAHAN50
                OFF
            </text>
        </div>
    </div>
    <div class="promo_page__div_info_container">
        <div style="display:flex;flex-direction:row;">
            <div style="display:flex;flex-direction:column;">
                <text style="color:red;font-size:150%;font-weight:600; margin-top:15px; margin-left:15px; margin-bottom:10px;">
                    {{promo_code.name}} - {{product.name}}
                </text>
                <text style="color:grey; margin-left:15px;">Available until {{promo_code.expire_date}}</text>
            </div>
            <div style="width:74%;position:relative; margin-left:auto; margin-right:15px; margin-top:15px; display:flex; flex-direction:row;">
                <a href="{% url 'product_page' product.id %}" style="margin-left:auto;">
                    <button class="promo_page__div_info_container__buy_now">Buy Now</button>
                </a>
            </div>
        </div>
        <div style="display:flex; flex-direction:row;">
            <text style="margin-left:15px;margin-top:10px;color:grey;">Sales:</text>
            {%if product.promo_code.sailing_percent|promo_color:5%}
            <div class="product_view_promo" style="position:relative; background: rgb(255 96 0 / 15%);
                        margin-left:10px; top:-5px; width:80px;">
                <a href="#" class="product_view_refer_promo" style="color: red; ">
                    {{product.promo_code.sailing_percent}} % OFF</a>
            </div>
            {%elif product.promo_code.sailing_percent|promo_color:10%}
            <div class="product_view_promo" style="position:relative; background: rgb(40 167 69 / 15%);
                         margin-left:10px; top:-5px; width:80px;">
                <a href="#" class="product_view_refer_promo" style="color: #fbbf3b; ">
                    {{product.promo_code.sailing_percent}} % OFF</a>
            </div>
            {%elif product.promo_code.sailing_percent|promo_color:20%}
            <div class="product_view_promo" style="position:relative; background:rgb(255 193 7 / 15%);
                        margin-left:10px; top:-5px; width:80px;">
                <a href="#" class="product_view_refer_promo" style="color: #eab002; ">
                    {{product.promo_code.sailing_percent}} % OFF</a>
            </div>
            {%elif product.promo_code.sailing_percent|promo_color:50%}
            <div class="product_view_promo"
                 style="position:relative; background:brown;  margin-left:10px; top:-5px; width:80px;">
                <a href="#" class="product_view_refer_promo" style="color: purple; ">
                    {{product.promo_code.sailing_percent}} % OFF</a>
            </div>
            {%elif product.promo_code.sailing_percent|promo_color:100%}
            <div class="product_view_promo"
                 style="position:relative; background:#cc99ff;  margin-left:10px; top:-5px; width:80px;">
                <a href="#" class="product_view_refer_promo" style="color: purple; ">
                    {{product.promo_code.sailing_percent}} % OFF</a>
            </div>
            {%endif%}
        </div>


        <div class="promo_page__div_info_container__highlights" style="margin-bottom:15px;">
            <div class="promo_page__div_info_container__highlights__inner">
                <h4>Highlights</h4>
                <text>
                    {{promo_code.highlight}}
                </text>
            </div>
        </div>
        {% if promo_code.terms_conditions %}
        <text style="margin-left:15px; margin-top:20px; font-weight:600;">Terms & Conditions</text>
        <pre style="margin-bottom:5px; margin-left:15px; color:grey;">{{promo_code.terms_conditions}}</pre>
        {% endif%}

    </div>

</div>

{% endblock %}