{% extends 'User/user_page_my_account.html' %}
{% load static %}

{% block form_change %}
<h1 style="margin-left:15px;">Change Items Of My Order</h1>
<p style="color:grey; margin-left:15px; margin-right:15px;">Grocery may give refunds for some item purchases, depending on the refund policies. You can also contact us directly.</p>
<p style="color:grey; margin-left:15px; margin-right:15px;">If a purchase was accidentally made by a friend or family member using your account, request a refund on the grocery website.</p>
<p style="color:grey; margin-left:15px; margin-right:15px;">If you find a grocery purchase on your card or other payment method that you did'nt make and that wasn't made by anyone you know, report unauthorized charges within 120 days of the transaction.</p>
<p style="color:grey; margin-left:15px; margin-right:15px;">If you've had a refund request accepted, check how long your refund will take.</p>
{% endblock %}