<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/Base/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base/top_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base/border_button.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base/nav_top.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/User/reg_auth_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/User/faq.css' %}">
    <link rel="stylesheet" href="{% static 'css/User/user_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/User/help_support.css' %}">
    <link rel="stylesheet" href="{% static 'css/User/activate_deactivated_account.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base/category_skroll.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base/products_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/Base/promos.css' %}">
    <link rel="stylesheet" href="{% static 'css/Categories/product_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/Categories/categories_product_listing.css' %}">
    <link rel="stylesheet" href="{% static 'css/Categories/category_product_listing.css' %}">
    <link rel="stylesheet" href="{% static 'css/promocode/promos.css' %}">
    <link rel="stylesheet" href="{% static 'css/promocode/promo_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/promocode/promos_category_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/promocode/all_promo_categories_page.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}" sizes="16x16 32х32" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{% include 'inc/top_bar.html' %}
{% include 'inc/border_button.html' %}
{% include 'inc/nav_top.html' %}
{% include 'inc/reg_auth_form.html' %}
{% include 'inc/extra_bar.html' %}
{% block content %}CONTENT{% endblock %}
{% include 'inc/footer.html' %}

</body>
</html>
